/* FONTS */

@font-face {
    font-family: 'ppetrial-normal';
    src: url('../fonts/ppetrial-webfont.woff2') format('woff2'),
         url('../fonts/ppetrial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Smartphone Portrait and Landscape */

@media only screen and (min-device-width : 320px)
	and (max-device-width : 480px) {
 	.room { 
		display: none;
	 }
	 .mobile-room {
		display: block;
	 }
}

/* Style the background */

body {
	background: url(../img/bg.png);
	background-size: cover;
	overflow: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Style the room objects */

.room {
	height: 100vh;
	display: flex;
	flex-direction: row;
	background-clip: content-box;
}

.mobile-room {
	display: none;
	color: #FFF;
	text-align: center;
}

/* WOOD TABLE */

.table {
	position: absolute;
	top: 100%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

.table img{
	width: 150vw;
}

/* LAPTOP */

.laptop {
	position: absolute;
	bottom: -1%;
	left: 16%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: flex;
	width: 44vw;
}

/* CUP OF COFFEE */

.coffee {
	position: absolute;
	top: 15%;
	left: 70%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: flex;
	width: 10vw;
}

/* PICTURE FRAME */

.frame {
	position: absolute;
	top: 36%;
	left: 63%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: flex;
	width: 24vw;
}

/* TERMINAL */

.terminal {
	position: absolute;
	top: -33%;
	right: 46.3%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30vw;
	height: 35vh;
}

#terminal {
	width: 30vw;
	height: 35vh;
	box-shadow: 2px 4px 10px rgba(0,0,0,.5);
	position: absolute;
	border-radius: 10px 10px 0px 0px;
}

.terminal_nav {
	background: linear-gradient(#504B45 0%,#3C3B37 100%);
	width: 100%;
	padding: 0 8px;
	box-sizing: border-box;
	height: 25px;
	display: flex;
	align-items: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.terminal_nav__btns {
	display: flex;
	align-items: center;
}

.terminal_nav__btn {
	width: 12px;
	height: 12px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	padding: 0;
	font-size: 7px;
	background: linear-gradient(#7D7871 0%, #595953 100%);
	text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: 0px 0px 1px 0px #41403A,0px 1px 1px 0px #474642;
	border: none;
	margin-right: 4px;
}

.terminal_nav__btn:hover {
	cursor: pointer;
}

.t-exit {
	background: #F25D2B;
	background: linear-gradient(#F37458 0%, #DE4C12 100%);
	background-clip: padding-box;
}

.terminal_nav__btn:focus {
	outline: none;
}

.terminal_nav__title {
	font-family: 'Ubuntu mono';
	color: #D5D0Ce;
	font-weight: bold;
	display: block;
	width: 85%;
	text-align: center;
	font-size: 12px;
}

#terminal_body {
	background: rgba(56, 4, 40, .9);
	height: calc(100% - 25px);
	margin-top: -1px;
	padding-top: 2px;
	width: 100%;
	font-family: 'Ubuntu mono';
	overflow-y: auto;
	overflow-x: hidden;
	display: inline-block;
	padding-bottom: 10px;
}

.terminal_input{
	width: 100%;
	background-color: transparent;
	border: none;
	color: #FFF;
	padding: 0 5px;
}

.terminal_input:focus{
	outline: none;
}

.terminal__text {
	color: #DDD;
	padding: 1px 5px;
}

.terminal_main {
	margin-top: 10px;
	display: flex;
	padding: 0 5px;
}

.user_msg {
	color: #87D441;
	font-weight: bold;
}

.user_loc {
	color: #6D85A9;
}

.user_doll {
	color: #DDD;
}

@media (max-width: 600px) {
	#terminal {
		max-height: 90%;
		width: 95%;
	}
}

.terminal.t__minimized #terminal {
	height: 0;
}

.terminal.t__minimized #terminal_body {
	display: none;
}

.terminal.t__maximized #terminal {
	width: 40em;
}

.terminal.t__closed #terminal{
	opacity: 0;
	width: 0;
	height: 0;
}

.i-prompt {
	width: 62px;
	height: 62px;
	background: url("../img/terminal.png") no-repeat center;
	background-size: 48px 48px;
	background-color: rgba(0,0,0,0.35);
	border-radius: 10px;
	box-shadow: 0 3px 1px rgba(0,0,0,0.25);
	cursor: pointer;
	transition: all ease-in-out .15s;
	z-index: 999;
}

.i-prompt:hover {
	background-position: center 4px;
}

.i-prompt.hidden {
	width: 0;
	height: 0;
	opacity: 0;
}