/* FONTS */

@font-face {
    font-family: 'ubuntu mono';
    src: url('../fonts/ubuntumono-regular.woff2') format('woff2'),
         url('../fonts/ubuntumono-regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'ubuntu mono';
    src: url('../fonts/ubuntumono-bold.woff2') format('woff2'),
         url('../fonts/ubuntumono-bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
	font-family: 'ubuntu mono';
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/ubuntumono-italic.woff2') format('woff2'),
		 url('../fonts/ubuntumono-italic.woff') format('woff'); 
}

@font-face {
	font-family: 'ubuntu mono';
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/ubuntumono-bolditalic.woff2') format('woff2'),
		 url('../fonts/ubuntumono-bolditalic.woff') format('woff'); 
}

/* Mobile Devices */

@media only screen and (max-width: 479px) {
	.mobile-hide { 
		display: none !important; 
	}

	.warn {
		display: block !important;
	}

	body {
		background: rgba(56, 4, 40, 1) !important;
	}
}

.warn {
	position: absolute;
	top: 18vh;
	left: 9vw;
	display: none;
	text-align: center;
	font-family: 'ubuntu mono';
	font-weight: bold;
	color: #FFF;
}

.warn img{
	width: 80vw;
}

/* Light */

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.8);
}

.highlight {
    z-index: 11;
}

/* Style the background */

body {
	background: url(../img/bg.svg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body.t__maximized {
	background: linear-gradient(45deg, #57003f 0%,#f57453 100%);
}

/* Style the room objects */

.room {
	height: 100vh;
	display: flex;
	flex-direction: row;
	background-clip: content-box;
}

.mobile-room {
	display: none;
	color: #FFF;
	text-align: center;
}

/* COFFEE SMOKE */

.smoke {
	position: absolute;
	top: 67vh;
	right: 4.7vw;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.smoke img{
	width: 14vw;
	filter: blur(2px);
    opacity: 0.7;
}

@media (max-aspect-ratio: 3/2) {
	.smoke { 
		display: none !important; 
	}
}

/* TERMINAL */

.terminal {
	position: absolute;
	top: 35vh;
	right: 32.5vw;
	-ms-transform: translateY(-50%) rotateX(-10deg);
	-webkit-transform: translateY(-50%) rotateX(-10deg);
	transform: translateY(-50%) rotateX(-10deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35vw;
	height: 20vw;
}

#terminal {
	width: 30vw;
	height: 20vw;
	box-shadow: 2px 4px 10px rgba(0,0,0,.5);
	position: absolute;
	border-radius: 10px 10px 0px 0px;
	font-family: 'ubuntu mono';
	font-size: small;
}

.terminal_nav {
	background: linear-gradient(#504B45 0%,#3C3B37 100%);
	width: 100%;
	padding: 0 8px;
	box-sizing: border-box;
	height: 25px;
	display: flex;
	align-items: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.terminal_nav__btns {
	display: flex;
	align-items: center;
}

.terminal_nav__btn {
	width: 12px;
	height: 12px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	padding: 0;
	font-size: 7px;
	background: linear-gradient(#7D7871 0%, #595953 100%);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .2);
	box-shadow: 0px 0px 1px 0px #41403A,0px 1px 1px 0px #474642;
	border: none;
	margin-right: 4px;
}

.terminal_nav__btn:hover {
	cursor: pointer;
}

.t-exit {
	background: #F25D2B;
	background: linear-gradient(#F37458 0%, #DE4C12 100%);
	background-clip: padding-box;
}

.terminal_nav__btn:focus {
	outline: none;
}

.terminal_nav__title {
	color: #D5D0Ce;
	font-weight: bold;
	display: block;
	width: 85%;
	text-align: center;
	font-size: 12px;
}

#terminal_body {
	background: rgba(56, 4, 40, .5);
	height: calc(100% - 25px);
	margin-top: -1px;
	padding-top: 2px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: inline-block;
}

.terminal_input{
	width: 100%;
	background-color: transparent;
	border: none;
	color: #FFF;
	padding: 0 5px;
}

.terminal_input:focus{
	outline: none;
}

.terminal__text {
	color: #DDD;
	padding: 1px 5px;
}

.terminal__text a{
	color: #DDD;
}

.terminal_main {
	margin-top: 10px;
	display: flex;
	padding: 0 5px;
}

.user_msg {
	color: #87D441;
	font-weight: bold;
}

.user_loc {
	color: #6D85A9;
}

.user_doll {
	color: #DDD;
}

.terminal.t__minimized #terminal {
	height: 0;
}

.terminal.t__minimized #terminal_body {
	display: none;
}

.terminal.t__maximized #terminal {
	width: 100vw;
	height: 100vh;
}

.terminal.t__maximized {
	z-index: 12;
	top : auto;
	right: auto;
	transform : none;
	justify-content: unset;
	align-items: unset;
}

.terminal.t__closed #terminal{
	opacity: 0;
	width: 0;
	height: 0;
}

.i-prompt {
	width: 62px;
	height: 62px;
	background: url("../img/terminal.png") no-repeat center;
	background-size: 48px 48px;
	background-color: rgba(0,0,0,0.35);
	border-radius: 10px;
	box-shadow: 0 3px 1px rgba(0,0,0,0.25);
	cursor: pointer;
	transition: all ease-in-out .15s;
	z-index: 999;
}

.i-prompt:hover {
	background-position: center 4px;
}

.i-prompt.hidden {
	width: 0;
	height: 0;
	opacity: 0;
}

/* SOCIAL BAR */

.bar {
    width: 4vw;
    height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
    display: flex;
	flex-direction: row;
	background-color: rgba(51, 48, 50, 0.5);
	z-index: 12;
}

.bar .bar__btns {
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
	flex-direction: column;
	text-align: center;
}

.bar__btns a {
    width: 3vw;
    height: 3vw;
	display: block;
	align-self: center;
}

.bar__btns > a:not(:last-child) {
    margin-bottom: 1vh;
}

.bar__btns a:hover {
    cursor: pointer;
}

.bar__btns a > img {
    filter: grayscale(100%);
}

.bar__btns a:hover > img {
    transition: 0.4s ease-out;
    filter: grayscale(0%);
}

.bar__btns img {
    transition: 0.6s ease-in;
    width: 80%;
    height: 80%;
}
